# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Logs
*.log
api.log
worker.log
short_polling_api.log

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db

# Env files
.env
